extends ./_base/_layout
block append vars
  - var path = './';
block title
  title= title
block append meta
block append link
  link(rel="stylesheet" href=`${path}assets/css/style.css`)
block body
  #wrapper.ly_wrapper
    main.ly_main
      .bl_canvas_wrapper
        canvas.bl_canvas.js_canvas
      form.ly_form.js_form
        .ly_form_inner
          .bl_formItem
            label.bl_formItem_label(for="name") User Name
            input.bl_formItem_input.js_userId(
                type="text"
                id="name"
                placeholder="Input user name"
              )
          .bl_formItem
            label.bl_formItem_label(for="password") Password
            span.bl_formItem_cap 半角の大小英文字、数字を組み合わせた8文字以上のパスワードを入力してください
            input.bl_formItem_input.js_password(
                type="password"
                id="password"
                placeholder="Input password"
              )
    include ./_parts/_footer
block append script
  script(src=`${path}assets/js/main.js`)
